@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 90px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.card{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    place-items: center;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.6s;
}

.name{
    font-size: 16px;
    text-align: center;
}

.price{
    font-size: 20px;
    text-align: end;
}

.itemDetail{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.itemDetailInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    height: 500px;
}

.itemDetailName{
    font-size: 40px;
}

.itemDetailDescription{
    font-size: 15px;
}

.itemDetailPrice{
    font-size: 30px;
}

.itemDetailBtn{
    font-size: 15px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
}

.itemDetailBtn:hover{
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
}